!!! Strict
%html{:xmlns =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= @title
    / add stylesheets and javascript

  %body.four-oh-four-body
    #four-oh-four UhOh 404
  
